spring:
  application:
    name: service-registry

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin


server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
