server:
  port: 8084

info:
  app:
    version: 1.0.0
    name: API Routing Service
    description: Service for routing API requests dynamically
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true

spring:
  application:
    name: api-routing

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          httpclient:
            connect-timeout: 2000
            response-timeout: 5s


  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

  data:
    redis:
      host: localhost
      port: 6379

management:
  endPoint:
    gateway:
      access: read-only
  endpoints:
    web:
      exposure:
        include: "*"

  info:
    env:
      enabled: true

resilience4j:
  circuitbreaker:
    config:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
